.bigIcons{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	text-align: center;
	padding-bottom: 91px;
}

.bigIcons .seoicon{
	width: 200px;
	height: 200px;
	float:left;
}


.bigIcons .seoicon svg{
	width: 150px;
	height: 150px;
	margin: 10px;
}


.seoicon{
	visibility: hidden;
}

.seoicon svg{
	width: 100%;
	height:100%;
	overflow: visible;
}




/*Colored backgrounds for each one*/
